Repository stratoware/pocket-dhf: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright-check, docstring-check

.pre-commit-config.yaml:

# Pre-commit configuration for QMS project
# Copyright (c) 2025 Stratoware LLC. All rights reserved.

repos:
  # Standard Python formatting and linting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  # Black code formatting
  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
        language_version: python3

  # Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  # Flake8 linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8


  # Copyright header enforcement
  - repo: local
    hooks:
      - id: copyright-check
        name: Check copyright headers
        entry: python3 scripts/check_copyright.py
        language: system
        files: \.(py|html|yml|yaml)$
        exclude: ^(\.git/|__pycache__/|\.pytest_cache/|build/|dist/)

      # Python docstring enforcement
      - id: docstring-check
        name: Check class docstrings
        entry: python3 scripts/check_docstrings.py
        language: system
        files: \.py$
        exclude: ^(\.git/|__pycache__/|\.pytest_cache/|build/|dist/|tests/)

Adding comprehensive test suite and Validation page in the app that could be used to export evidence of validation for compliance.
  Makefile
  app/routes.py
  app/templates/base.html
  app/templates/validation.html
  docs/specifications.md
  pyproject.toml
  reports/coverage.json
  reports/test-report.html
  sample-data/dhf_data.yaml
  tests/__init__.py
  tests/conftest.py
  tests/integration/test_api_endpoints.py
  tests/integration/test_web_pages.py
  tests/run_tests.py
  tests/unit/test_data_utils.py
  tests/unit/test_report_generation.py
Due: copyright-check, docstring-check

Improved UI, added associated testing.
  app/__init__.py
  app/data_utils.py
  app/routes.py
  app/static/css/style.css
  app/templates/browse.html
  main.py
  reports/coverage.json
  reports/test-report.html
  tests/conftest.py
  tests/integration/test_drag_resize.py
  tests/integration/test_popup_editing.py
  tests/integration/test_sidebar_focus.py
  tests/integration/test_traceability_navigation.py
  tests/integration/test_traceability_ui.py
  tests/unit/test_additional_coverage.py
  tests/unit/test_data_utils.py
  tests/unit/test_data_utils_coverage.py
  tests/unit/test_dynamic_linked_risks.py
  tests/unit/test_nested_requirements.py
  tests/unit/test_report_generation.py
  tests/unit/test_routes_coverage.py
  tests/unit/test_routes_extended_coverage.py
  tests/unit/test_traceability_api.py
Due: copyright-check, docstring-check

Allow passing in reports from an external folder
  app/__init__.py
  app/routes.py
  main.py
  reports/coverage.json
  reports/test-report.html
  tests/integration/test_traceability_navigation.py
  tests/unit/test_dynamic_linked_risks.py
  tests/unit/test_nested_requirements.py
Due: copyright-check, docstring-check

Fixing code quality issues
  app/__init__.py
  app/data_utils.py
  app/routes.py
  app/templates/browse.html
  main.py
  reports/coverage.json
  reports/test-report.html
  tests/conftest.py
  tests/integration/test_drag_resize.py
  tests/integration/test_popup_editing.py
  tests/integration/test_sidebar_focus.py
  tests/integration/test_traceability_navigation.py
  tests/integration/test_traceability_ui.py
  tests/unit/test_additional_coverage.py
  tests/unit/test_data_utils.py
  tests/unit/test_data_utils_coverage.py
  tests/unit/test_dynamic_linked_risks.py
  tests/unit/test_nested_requirements.py
  tests/unit/test_report_generation.py
  tests/unit/test_routes_coverage.py
  tests/unit/test_routes_extended_coverage.py
  tests/unit/test_traceability_api.py
Due: copyright-check, docstring-check

Added sample risk management report
  .gitignore
  app/routes.py
  app/templates/browse.html
  reports/coverage.json
  reports/test-report.html
  sample-data/report-templates/risk_management.md
Due: copyright-check, docstring-check

Add MIT License and update copyright headers
  LICENSE
  README.md
  app/__init__.py
  app/data_utils.py
  app/routes.py
  app/templates/base.html
  app/templates/browse.html
  app/templates/configuration.html
  app/templates/index.html
  app/templates/reports.html
  app/templates/validation.html
  main.py
  pyproject.toml
  sample-data/dhf_data.yaml
  scripts/check_copyright.py
  scripts/check_docstrings.py
  tests/__init__.py
  tests/conftest.py
  tests/integration/test_api_endpoints.py
  tests/integration/test_drag_resize.py
  tests/integration/test_popup_editing.py
  tests/integration/test_sidebar_focus.py
  tests/integration/test_traceability_navigation.py
  tests/integration/test_traceability_ui.py
  tests/integration/test_web_pages.py
  tests/run_tests.py
  tests/unit/test_additional_coverage.py
  tests/unit/test_data_utils.py
  tests/unit/test_data_utils_coverage.py
  tests/unit/test_dynamic_linked_risks.py
  tests/unit/test_nested_requirements.py
  tests/unit/test_report_generation.py
  tests/unit/test_routes_coverage.py
  tests/unit/test_routes_extended_coverage.py
  tests/unit/test_traceability_api.py
Due: copyright-check, docstring-check

Enhance README and add comprehensive documentation for open source
  README.md
  app/templates/base.html
  app/templates/browse.html
  docs/data-format.md
  docs/images/dashboard.png
  docs/images/reports.png
  docs/images/requirements.png
  docs/images/risk-management.png
  docs/images/traceability.png
  docs/user-guide.md
Due: copyright-check

Add comprehensive CONTRIBUTING.md guide
  CONTRIBUTING.md
Due: none

Adding code of conduct file
  CODE_OF_CONDUCT.md
Due: none

Add security vulnerability reporting guidelines
  SECURITY.md
Due: none

Add GitHub issue templates and PR template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: copyright-check

Add Software Specifications to README documentation section
  README.md
Due: none

Update README to reflect git submodule architecture as recommended approach
  README.md
Due: none

Remove overly comprehensive PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update README to reflect git submodule architecture as recommended ap… (#2)
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Due: none

Add comprehensive tests to achieve 85% coverage
  tests/integration/test_report_endpoints.py
  tests/integration/test_validation_page.py
Due: copyright-check

Add comprehensive CI/CD workflows
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: copyright-check

Update GitHub Actions to use latest versions
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: copyright-check

Fix linting and formatting issues
  CONTRIBUTING.md
  app/__init__.py
  app/routes.py
  docs/data-format.md
  docs/user-guide.md
  tests/integration/test_report_endpoints.py
  tests/integration/test_validation_page.py
  tests/unit/test_report_generation.py
Due: copyright-check, docstring-check

Infra/GitHub actions and additional unit tests (#3)
  .github/workflows/ci.yml
  .github/workflows/security.yml
  CONTRIBUTING.md
  app/__init__.py
  app/routes.py
  docs/data-format.md
  docs/user-guide.md
  tests/integration/test_report_endpoints.py
  tests/integration/test_validation_page.py
  tests/unit/test_report_generation.py
Due: copyright-check, docstring-check

Fix linting and formatting issues
  tests/integration/test_report_endpoints.py
  tests/integration/test_validation_page.py
Due: copyright-check

Fix security scan issues flagging deprecated library versions
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/security.yml
  CONTRIBUTING.md
  LICENSE
  SECURITY.md
  docs/data-format.md
  docs/user-guide.md
  sample-data/report-templates/risk_management.md
Due: copyright-check

Infra/fix security scan (#4)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/security.yml
  CONTRIBUTING.md
  LICENSE
  SECURITY.md
  docs/data-format.md
  docs/user-guide.md
  sample-data/report-templates/risk_management.md
Due: copyright-check

Fix: Replace manual DOM updates with server reload after save
  app/templates/browse.html
Due: copyright-check

Feature: Add bidirectional traceability for User Needs
  app/templates/browse.html
Due: copyright-check

Feature: Add navigation history with back/forward controls
  app/templates/browse.html
Due: copyright-check

Feature: Add keyboard shortcuts and live tree search
  app/templates/browse.html
Due: copyright-check

Add keyboard shortcuts and search functionality to navigation tree
  app/__init__.py
  app/data_utils.py
  app/file_watcher.py
  app/routes.py
  app/templates/base.html
  pyproject.toml
  tests/integration/test_web_pages.py
Due: copyright-check, docstring-check

Fix: Hide traceability table when navigating from table links
  app/templates/browse.html
Due: copyright-check

Fix: Add explanatory comment to empty except clause
  app/data_utils.py
Due: copyright-check, docstring-check

Feature/navigation enhancements (#5)
  app/__init__.py
  app/data_utils.py
  app/file_watcher.py
  app/routes.py
  app/templates/base.html
  app/templates/browse.html
  pyproject.toml
  tests/integration/test_web_pages.py
Due: copyright-check, docstring-check

feat: Replace severity spinbox with dropdown using project configuration
  app/routes.py
  app/templates/analyses.html
Due: copyright-check, docstring-check

feat: Add Analyses page for FMEA and FTA management
  app/data_utils.py
  app/routes.py
  app/templates/analyses.html
  app/templates/base.html
  sample-data/analyses/fmea-001.yaml
  sample-data/analyses/fta-001.yaml
Due: copyright-check, docstring-check

refactor: Use full column names in FMEA table headers
  app/templates/analyses.html
Due: copyright-check

refactor: Improve FMEA table UI with better column widths and full-width layout
  app/templates/analyses.html
Due: copyright-check

Update FMEA sample data to use software/hardware specifications
  sample-data/analyses/fmea-001.yaml
Due: copyright-check

Implement ISO 14971:2019 risk scoring (S × PH model)
  app/data_utils.py
  app/routes.py
  app/schema_migrations.py
  app/templates/analyses.html
  app/templates/browse.html
  app/templates/configuration.html
  docs/data-format.md
  docs/user-guide.md
  sample-data/analyses/fmea-001.yaml
  sample-data/dhf_data_v1.yaml
  sample-data/report-templates/risk_management.md
  tests/conftest.py
  tests/unit/test_additional_coverage.py
  tests/unit/test_data_utils.py
  tests/unit/test_data_utils_coverage.py
  tests/unit/test_schema_migrations.py
Due: copyright-check, docstring-check

Improve FMEA UI: use dropdown for Probability of Harm, display-only Risk Score
  app/templates/analyses.html
Due: copyright-check
