Repository stratoware/pocket-dhf: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright-check, docstring-check

.pre-commit-config.yaml:

# Pre-commit configuration for QMS project
# Copyright (c) 2025 Stratoware LLC. All rights reserved.

repos:
  # Standard Python formatting and linting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  # Black code formatting
  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
        language_version: python3

  # Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  # Flake8 linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8


  # Copyright header enforcement
  - repo: local
    hooks:
      - id: copyright-check
        name: Check copyright headers
        entry: python3 scripts/check_copyright.py
        language: system
        files: \.(py|html|yml|yaml)$
        exclude: ^(\.git/|__pycache__/|\.pytest_cache/|build/|dist/)

      # Python docstring enforcement
      - id: docstring-check
        name: Check class docstrings
        entry: python3 scripts/check_docstrings.py
        language: system
        files: \.py$
        exclude: ^(\.git/|__pycache__/|\.pytest_cache/|build/|dist/|tests/)

Fix FMEA controls dropdown to show software/hardware specifications
  app/templates/analyses.html
Due: copyright-check

fix: Handle missing config gracefully in analyses template
  app/templates/analyses.html
Due: copyright-check

Replace sample analyses with glucose-focused examples
  sample-data/analyses/fmea-001.yaml
  sample-data/analyses/fta-001.yaml
Due: copyright-check

Reverse analyses directory lookup logic
  app/data_utils.py
Due: copyright-check, docstring-check

Simplify configuration to single --data-dir parameter
  app/__init__.py
  app/data_utils.py
  app/routes.py
  main.py
Due: copyright-check, docstring-check

Support custom DHF file names (*.dhf)
  app/__init__.py
Due: copyright-check, docstring-check

Update documentation for --data-dir parameter and fix test fixtures
  .cursorrules
  ANALYSES_FEATURE.md
  README.md
  docs/user-guide.md
  tests/conftest.py
Due: copyright-check

Apply code formatting (black + isort)
  app/__init__.py
  app/data_utils.py
  app/routes.py
  app/schema_migrations.py
  tests/conftest.py
  tests/unit/test_schema_migrations.py
Due: copyright-check, docstring-check

Adjusted docs structure
  .cursorrules
  ANALYSES_FEATURE.md
Due: none

Add missing copyright header to analyses.html
  app/templates/analyses.html
Due: copyright-check

Fix test_traceability_api to use data_dir parameter
  tests/unit/test_traceability_api.py
Due: copyright-check

Fix test fixtures to include report templates
  tests/conftest.py
Due: copyright-check

Security: Fix path traversal vulnerabilities (CodeQL)
  app/data_utils.py
  app/routes.py
Due: copyright-check, docstring-check

feat: improve code coverage to 80% with error sanitization and comprehensive tests
  PR_DESCRIPTION.md
  app/routes.py
  app/templates/browse.html.orig
  docs/features/ANALYSES_FEATURE.md
  docs/features/ERROR_HANDLING_SECURITY.md
  test_live_reload.py
  tests/conftest.py
  tests/unit/test_analyses_coverage.py
  tests/unit/test_analyses_routes_coverage.py
  tests/unit/test_final_coverage_boost.py
Due: copyright-check, docstring-check

docs: enhance risk management report template with comprehensive sections
  sample-data/report-templates/risk_management.md
Due: none

Allow specifying an alternate port
  README.md
  main.py
Due: copyright-check, docstring-check

Refactoring to allow running pocket-dhf inside a parent react app
  app/__init__.py
  app/routes.py
  app/static/css/style.css
  app/templates/base.html
  app/templates/browse.html
  app/templates/configuration.html
  app/templates/error.html
  app/templates/index.html
  app/templates/reports.html
  app/templates/validation.html
Due: copyright-check, docstring-check

Fixed some issues after further testing
  app/routes.py
  app/templates/base.html
Due: copyright-check, docstring-check
